
      <div class="modal-header">
          <img width="32px" src="../static/img/golf-outline.svg"/>
          <h1 class="modal-title fw-bold fs-4 ms-4" id="bookingFormModalLabel">Book your game</h1>          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id=modal-content-body-footer>
        <div class="modal-body">
            <form id="booking-detail-form" class="" hx-post="/book" hx-target="#modal-content" hx-swap="innerHTML">   
                <input type="hidden" name="bookingBayID" value="{{bayID}}">
                <h2 class="fs-5 mb-3">
                    <!-- <img width="20px" src="../static/img/clock-fill.svg"/>-->
                    Confirm your booking details
                </h2>
                <h4 class="fs-5 fw-bold mb-2"><input type="hidden" name="dateBooking" form="booking-detail-form" value="{{ dateBooking }}" placeholder="dd/MM/yyyy">{{ dateBooking.strftime('%a %d/%m/%Y') or 'not defined' }}</h4>        
                <div class="row g-2">
                  <div class="col-6">
                    <div class="form-floating mb-2">
                      <select name="floatingInputStartTime" id="floatingInputStartTime" class="form-control rounded-3 w-100" hx-post="/get/endtimes/{{dateBooking}}/{{bayID}}" hx-target="#floatingInputEndTime" required >
                          {% if availableStartTimeslots is not none %}             
                              {% for ts in availableStartTimeslots %}           
                                  <option label="{{ ts['HourNameDisplay'] }}" value="{{ts['ID']}}" 
                                  {% if ts['ID'] | int == selectedTimeslotID | int %}
                                      selected
                                  {% endif %}>
                                  {{ ts['HourNameDisplay'] }}</option>
                              {% endfor %}
                          {% endif %}
                      </select>
                      <label for="floatingInputStartTime">Start time</label>
                    </div>             
                  </div>   
                  <div class="col-6">
                    <div class="form-floating mb-2">
                      <select name="floatingInputEndTime" id="floatingInputEndTime" class="form-control rounded-3 w-100" hx-post="/get/duration" hx-target="#bookingDuration" hx-trigger="intersect once, change"  required>                                   
                          {% if availableEndTimeslots is not none %}             
                              {% for ts in availableEndTimeslots %}           
                                  <option label="{{ ts['HourNameDisplay'] }}" value="{{ts['ID']}}">{{ ts['HourNameDisplay'] }}</option>
                              {% endfor %}
                          {% endif %}
                      </select>
                      <label for="floatingInputEndTime">End time</label>
                    </div>  
                  </div>        
                </div>         
                <div class="form-floating mb-2">Duration: <span id="bookingDuration"></span></div>
                <div class="form-floating mb-2">
                    <select id="floatingInputBookingType" name="bookingType" class="form-control rounded-3" required>
                      <!-- TODO: programtically populate booking type options -->
                      <option label="Virtual game" value="1">Virtual game</option>
                      <option label="Driving range" value="2">Driving range</option>
                    </select>
                    <label for="floatingInputBookingType">Booking type</label>
                </div>
                <h2 class="fs-5 mb-3">
                    <!-- <img width="20px" src="../static/img/person-lines-fill.svg"/> -->
                    Please provide your details
                </h2>
                <div class="form-floating mb-2">
                  <input type="text" class="form-control rounded-3" name="floatingInputFirstname" id="floatingInputFirstname" form="booking-detail-form" placeholder="John" required>
                  <label for="floatingInputFirstname">First name</label>
                </div>
                <div class="form-floating mb-2">
                  <input type="text" class="form-control rounded-3" name="floatingInputLastname" id="floatingInputLastname" form="booking-detail-form" placeholder="Smith" required>
                  <label for="floatingInputLastname">Last name</label>
                </div>                            
                <div class="form-floating mb-2">
                  <input type="email" class="form-control rounded-3" name="floatingInputEmail" id="floatingInputEmail" form="booking-detail-form" placeholder="name@example.com" required>
                  <label for="floatingInputEmail">Email address</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="tel" class="form-control rounded-3" name="floatingInputMobileNumber" id="floatingInputMobileNumber" form="booking-detail-form" pattern="[0-9]{9,14}" minlength="9" maxlength="14" placeholder="021xxxxxx" required>
                    <label for="floatingInputMobileNumber">Mobile number</label>
                  </div>                
                <div class="form-floating mb-0">
                  <input type="password" class="form-control rounded-3" name="floatingInputPassword" id="floatingInputPassword" form="booking-detail-form" minlength="4" maxlength="4" placeholder="4-digit password" required>
                  <label for="floatingInputPassword">4-digit password</label>
                </div>
                <!-- <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button> -->
                <!-- <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small> -->
                <!-- <hr class="my-4">                 -->
              </form>
        </div>
        <p><small class="text-body-secondary">By clicking Book now, you agree to the terms of use.</small></p>
        <div class="modal-footer align-items-center justify-content-center">                                
            <button type="submit" class="w-50 btn btn-lg btn-primary" form="booking-detail-form">Book now</button>
            <button type="button" class="w-50 btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>            
        </div>
      </div>