<link rel="stylesheet" href="../static/styles/timesheet.css">

<div id="booking-timesheet" class="booking-timesheet border row">
  <div class="booking-timeline col">
    <div class="spacer"></div>
    <div class="time-marker">9 AM</div>
    <div class="time-marker">10 AM</div>
    <div class="time-marker">11 AM</div>
    <div class="time-marker">12 PM</div>
    <div class="time-marker">1 PM</div>
    <div class="time-marker">2 PM</div>
    <div class="time-marker">3 PM</div>
    <div class="time-marker">4 PM</div>
    <div class="time-marker">5 PM</div>
    <div class="time-marker">6 PM</div>
    <div class="time-marker">7 PM</div>
    <div class="time-marker">8 PM</div>
    <div class="time-marker">9 PM</div>
    <div class="time-marker">10 PM</div>
    <div class="time-marker">11 PM</div>
  </div>
  <div class="bays col-5">
    <div class="bay">
      <div class="bay-label">
        <p class="bay-label-text mb-2">Bay 1</p>        
      </div>
      <div class="events">
        <div class="event start-2 end-5 virtual-game">
          <p class="title">Virtual Game</p>
          <p class="time">2 PM - 5 PM</p>
        </div>
      </div>
    </div>
    
    <!-- <div class="bay">
      <div class="bay-label">
        <p class="bay-label-text">Bay 1</p>        
      </div>
      <div class="events">
        <div class="event start-2 end-5 virtual-game">
          <p class="title">Virtual Game</p>
          <p class="time">2 PM - 5 PM</p>
        </div>
      </div>
    </div> -->

  </div>
</div>