<script src="{{ url_for('static', filename='js/timeslot.js') }}"></script>

<div class="bay">
    <h3>Bay 1</h3>
    <ul>
        {% for i in range(28) %}
        {% set hour = (i // 2) + 9 %}
        {% set minute = (i % 2) * 30 %}
        {% set time = hour|string + ':' + '{:0>2}'.format(minute) %}
        <li data-time="{{ time }}" data-booked="false">
            <span>{{ time }} - {{ time|add_time(30) }}</span>
            <button>Book Now</button>
        </li>
        {% endfor %}
    </ul>
</div>
