:root {
    --numDays: 1;
    --numHours: 15;
    --timesheetBackColorHourCount: 28;
    --timeHeight: 60px;    
    --eventHeight: 30px;
    --calBgColor: #fff1f8;
    --eventBorderColor: #000000;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
    --eventColor5: #df7d21;
    --eventColor6: #bdbdbd;
  }
 
.row_blank_fullhour {  
  border-bottom: 1px dotted black;    
}

.row_blank_halfhour {  
  border-bottom: 1px dotted gray;    
}

.row_afterevent, .row_firstrow {
  border-top: 1px dotted black;    
}
  
.booking-timesheet {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;    
    margin-top: 2rem;         
    margin-bottom: 2rem;
    max-width: 500px;    
    /* margin-left: 15rem;
    margin-right: 15rem; */
  }
  
 .booking-timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    min-width: 5rem;
    margin-top: -14px;
  }
  
  .bays {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  
  /* this is the pink backcolor */
  .events { 
    display: grid;
    grid-template-rows: repeat(var(--timesheetBackColorHourCount), var(--eventHeight));
    border-radius: 5px;
    background: var(--calBgColor);                
  }

  .event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
  }
  
 
  .start-9 {
    grid-row-start: 1;
  }

  .start-9-30 {
    grid-row-start: 2;
  }

  .start-10 {
    grid-row-start: 3;
  }

  .start-10-30 {
    grid-row-start: 4;
  }

  .start-11 {
    grid-row-start: 5;
  }
  
  .start-11-30 {
    grid-row-start: 6;
  }

  .start-12 {
    grid-row-start: 7;
  }

  .start-12-30 {
    grid-row-start: 8;
  }
  
  .start-13 {
    grid-row-start: 9;
  }

  .start-13-30 {
    grid-row-start: 10;
  }
  
  .start-14 {
    grid-row-start: 11;
  }
  .start-14-30 {
    grid-row-start: 12;
  }
  .start-15 {
    grid-row-start: 13;
  }
  .start-15-30 {
    grid-row-start: 14;
  }
  .start-16 {
    grid-row-start: 15;
  }
  .start-16-30 {
    grid-row-start: 16;
  }
  .start-17 {
    grid-row-start: 17;
  }
  .start-17-30 {
    grid-row-start: 18;
  }
  .start-18 {
    grid-row-start: 19;
  }
  .start-18-30 {
    grid-row-start: 20;
  }
  .start-19 {
    grid-row-start: 21;
  }
  .start-19-30 {
    grid-row-start: 22;
  }
  .start-20 {
    grid-row-start: 23;
  }
  .start-20-30 {
    grid-row-start: 24;
  }
  .start-21 {
    grid-row-start: 25;
  }
  .start-21-30 {
    grid-row-start: 26;
  }
  .start-22 {
    grid-row-start: 27;
  }
  .start-22-30 {
    grid-row-start: 28;
  }

  .end-9-30 {
    grid-row-end: 2;
  }
  .end-10 {
    grid-row-end: 3;
  }
  .end-10-30 {
    grid-row-end: 4;
  }
  .end-11 {
    grid-row-end: 5;
  }
  .end-11-30 {
    grid-row-end: 6;
  }
  .end-12 {
    grid-row-end: 7;
  }
  .end-12-30 {
    grid-row-end: 8;
  }
  .end-13 {
    grid-row-end: 9;
  }
  .end-13-30 {
    grid-row-end: 10;
  }
  .end-14 {
    grid-row-end: 11;
  }
  .end-14-30 {
    grid-row-end: 12;
  }
  .end-15 {
    grid-row-end: 13;
  }
  .end-15-30 {
    grid-row-end: 14;
  }
  .end-16 {
    grid-row-end: 15;
  }
  .end-16-30 {
    grid-row-end: 16;
  }
  .end-17 {
    grid-row-end: 17;
  }
  .end-17-30 {
    grid-row-end: 18;
  }
  .end-18 {
    grid-row-end: 19;
  }
  .end-18-30 {
    grid-row-end: 20;
  }
  .end-19 {
    grid-row-end: 21;
  }
  .end-19-30 {
    grid-row-end: 22;
  }
  .end-20 {
    grid-row-end: 23;
  }
  .end-20-30 {
    grid-row-end: 24;
  }
  .end-21 {
    grid-row-end: 25;
  }
  .end-21-30 {
    grid-row-end: 26;
  }
  .end-22 {
    grid-row-end: 27;
  }
  .end-22-30 {
    grid-row-end: 28;
  }
  .end-23 {
    grid-row-end: 29;
  }

  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .space,
  .bay-label {
    height: 60px
  }
  


  .driving-range {
    background: var(--eventColor2);
  }

  .virtual-game {
    background: var(--eventColor4);
  }

  .corporate-event {
    background: var(--eventColor1);
  }
  
  .somethingelse {
    background: var(--eventColor3);
  }
  
  .competition {
    background: var(--eventColor5);
  }

  .timeblocked {
    background: var(--eventColor6);
  }
  
  
  .bay-label {
    display: flex;
    gap: 1em;
  }
  
  .bay-label-text {
    font-size: 2rem;
    font-weight: 600;
    display: inline;
  }
  
  .date-day {
    display: inline;
    font-size: 3rem;
    font-weight: 100;
  }